{% extends "base.html" %}
{% block homeactive %}active{% endblock homeactive %}
{% load static %}
{% block body %}

<body class="bg-dark"></body>

<!-- Hero Image -->
<div class="container-fluid mx-0 px-0 border-bottom border-light">
  <img class="d-block w-100" src="{% static 'img/factual.jpg' %}" alt="Factual Vibes Banner">
</div>

<!-- Top Facts Section -->
<div class="container mt-5 pt-5">
  <h2 class="text-light">Top Facts</h2>
  <div class="row mt-4">

    {% if top_facts %}
      {% for blog in top_facts %}
        <div class="col-md-4 mb-4">
          <div class="card d-flex flex-column h-100">
            {% if blog.image %}
              <img class="card-img-top" src="{{ blog.image.url }}" alt="{{ blog.title }}">
            {% else %}
              <img class="card-img-top" src="{% static 'img/default.jpg' %}" alt="Default image">
            {% endif %}
            <div class="card-body flex-grow-1 d-flex flex-column">
              <h5 class="card-title">{{ blog.title }}</h5>
              <p class="card-text">{{ blog.short_desc }}</p>
              <div class="mt-auto">
                {% if blog.slug %}
                  <a href="{% url 'blogpost' blog.slug %}" class="btn btn-dark btn-block">Read More</a>
                {% else %}
                  <button class="btn btn-dark btn-block" disabled>No Link</button>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p class="text-light">No facts to display currently.</p>
    {% endif %}

  </div>
</div>

<!-- Top Scriptures Section -->
<div class="container mt-5 pt-5">
  <h2 class="text-light">Top Scriptures</h2>
  <div class="row mt-4">

    {% if top_scriptures %}
      {% for blog in top_scriptures %}
        <div class="col-md-4 mb-4">
          <div class="card d-flex flex-column h-100">
            {% if blog.image %}
              <img class="card-img-top" src="{{ blog.image.url }}" alt="{{ blog.title }}">
            {% else %}
              <img class="card-img-top" src="{% static 'img/default.jpg' %}" alt="Default image">
            {% endif %}
            <div class="card-body flex-grow-1 d-flex flex-column">
              <h5 class="card-title">{{ blog.title }}</h5>
              <p class="card-text">{{ blog.short_desc }}</p>
              <div class="mt-auto">
                {% if blog.slug %}
                  <a href="{% url 'blogpost' blog.slug %}" class="btn btn-dark btn-block">Read More</a>
                {% else %}
                  <button class="btn btn-dark btn-block" disabled>No Link</button>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p class="text-light">No Scriptures to display currently.</p>
    {% endif %}

  </div>
</div>

<br>

{% endblock body %}
